.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: lightsteelblue;
}
.projects h1 {
  /* width: 600px; */
  font-size: 36px;
  color: lightsteelblue;
  margin-top: 100px;
}

.projects p {
  width: 700px;
  font-size: 20px;
  color: lightsteelblue;
  border: 1px solid red;
  background-color: black;
}
.projects a {
  width: 700px;
  font-size: 28px;
  border: 1px solid green;
  text-decoration: none;
}

.projects img {
  width: 700px;
  height: 450px;
  /* border: 1px solid lightsteelblue; */
}
