.projects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #282c34;
  color: lightsteelblue;
  margin-top: 30px;
}
.projects h1 {
  width: 600px;
  margin: 10px;
  font-size: 26px;
  color: lightsteelblue;
  margin-top: 100px;
}
.projects p {
  width: 600px;
  margin: 10px;
  font-size: 18px;
  color: lightsteelblue;
}
.projects a {
  width: 600px;
  margin: 10px;
  font-size: 18px;
  color: lightsteelblue;
  text-decoration: none;
}
.projects a:hover {
  color: lightcoral;
  transition: 0.7s;
  transform: scale(1.05);
  cursor: pointer;
}
.projects img {
  width: 500px;
  margin: 10px;
  font-size: 18px;
  color: lightsteelblue;
  margin-bottom: 100px;
}
