.about {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: #2e3b50;
  padding: 10px;
}
.aboutcontent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e3b50;
  color: #fff;
  padding: 10px;
}
.aboutcontent h1 {
  font-size: 40px;
  color: lightsteelblue;
}
.intro {
  width: 600px;
  margin: 10px;
  font-size: 20px;
  color: lightsteelblue;
}
.bio {
  width: 600px;
  margin: 20px;
  font-size: 20px;
  color: lightsteelblue;
}
.interests {
  width: 600px;
  margin: 10px;
  font-size: 20px;
  color: lightsteelblue;
}
.closing {
  width: 600px;
  margin: 20px;
  font-size: 22px;
  color: lightsteelblue;
}
.skillscontainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #2e3b50;
  color: #fff;
  padding: 10px;
  margin-top: 100px;
}
.skills {
  font-size: 28px;
  color: lightsteelblue;
}
.cards {
  width: 800px;
  display: flex;
  flex-wrap: wrap;

  background-color: #2e3b50;
  color: #fff;
}
.card {
  width: 250px;
  height: 250px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #fff;
  background-color: #2e3b50;
}
.card a {
  /* width: 150px; */
  /* height: 250px; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: whitesmoke;
  cursor: pointer;
}

.card img {
  width: 100px;
  height: 100px;
}
.card img:hover {
  transition: 0.5s;
  transform: scale(1.1);
  cursor: pointer;
}
