.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #333;
  color: #fff;
  padding: 10px;
  position: sticky;
  top: 0;
  z-index: 1;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
}

.navbar img {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-right: 20px;
}

.navbar img:hover {
  cursor: pointer;
  transition: 0.7s;
  transform: scale(1.09);
}

.buttons {
  gap: 10px;
  display: flex;
  padding: 10px;

  @media screen and (max-width: 425px) {
    display: none;
  }
}
.buttons button {
  color: lightsteelblue;
  background-color: #333;
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 16px;
}
.buttons button:hover {
  transition: 0.7s;
  transform: scale(1.1);
}
/* .burger {
  display: none;

  @media screen and (max-width: 425px) {
    display: block;
    cursor: pointer;
  }
} */
