.App {
  margin: 0px;
  padding: 0px;
  /* border: 1px solid red; */
}
.hero {
  display: flex;
}
.heroPhoto {
  margin-left: 20px;
  margin-top: 40px;
  margin-bottom: 140px;
}
.heroPhoto img {
  width: 350px;
  height: 450px;
  border-radius: 50%;
}
.heroText {
  margin-left: autoß;
  width: 400px;
  text-align: center;
  margin-top: 40px;
  margin-bottom: 140px;
  padding-top: 40px;
}

.heroText h1 {
  font-size: 40px;
  text-align: center;
}
.heroText h1:hover {
  color: lightskyblue;
  transition: 0.7s;
  transform: scale(1.01);
  cursor: pointer;
}

.heroText h2 {
  font-size: 30px;
  text-align: center;
}

.heroText h3 {
  font-size: 20px;
  text-align: center;
}
.heroText button {
  background-color: lightskyblue;
  border: none;
  border-radius: 10px;
  color: black;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

.heroText button:hover {
  background-color: lightpink;
  transition: 0.7s;
  transform: scale(1.01);
  cursor: pointer;
}
